# Mark Python source files
*.py linguist-language=Python

# Mark Jupyter Notebook files properly
*.ipynb linguist-language=Jupyter Notebook

# Treat HTML and images as documentation, not code
*.html linguist-documentation
*.png linguist-documentation
*.jpg linguist-documentation
*.jpeg linguist-documentation
